
<h2>Available Links</h2>
<ul class="links">
<% @links.each do |link| %>
  <li>
    <label>Number of visits: <%= link.visits %></label>
    <a href="/<%= link.id %>">Path: /<%= link.id %></a>
    <% @clicks.each do |click| %>
	    <% if click.link_id == link.id %>
	    <% t = click.created_at.in_time_zone('Pacific Time (US & Canada)') %>
	    
		    <label><%= t.strftime("Last clicked at %m/%d/%Y %I:%M%p.") %></label>
	    <% end %>
    <% end %>
  </li>
<% end %>
</ul>

<a href="<%= url('/new') %>">Create new &rarr;</a>
